

<div class="article_container">
  <div class="title">
    <h2><%= @article.title %></h2>
    <%= link_to edit_article_path do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>

    <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "sure?"} do %>
      <i class="fa-sharp fa-solid fa-trash"></i>
    <% end %>
  </div>
  <p><%= @article.content %></p>
</div>
